/*Keep images and video responsive*/
img,
video {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #00b5ff;
	font-family: Arial, sans-serif;
}

header {
	background-color: rgba(0, 151, 137, 0.9);
	color: #000000;
}
/*Navigation bar for the websites */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
	text-align: right;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}

a {
	color: rgb(255, 255, 255);
}
a:hover {
	color: red;
}
a:visited {
	color: rgb(82, 80, 80);
}

/*Text sTYLES */

h1 {
	font-size: 3rem;
	font-size: 40p;
	font-weight: 100;
	text-align: left;
}
h2 {
	font-size: 2rem;
	font-size: 26px;
	font-weight: 700;
	text-align: right;
}
figcaption {
	font-size: 12px;
}






footer p {
	text-align: right;
}

main h1 {
	text-align: center;
}

 main figure img {
	text-align: center;
}